html, body {
  font-size: 20px;
  height: 100%;
  scroll-behavior: smooth;
  font-family: Avenir, sans-serif;
  background-color: white;
  scroll-behavior: smooth;
}

a {
  position: relative;
}

a:active {
    top: 2px;
}
  
a:hover {
  text-decoration: none;
}

/*Prelaoder*/
/*Prelaoder*/
/*Prelaoder*/
/*Prelaoder*/

#preloader h1{
  color: white;
  align-items: center;
  
  position: fixed;
  top: calc(57%);
  right: calc(34%);
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background-image: url("images/homepage13.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position:fixed;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid white;
  border-top-color: #FDB515;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*Navigation Bar*/
/*Navigation Bar*/
/*Navigation Bar*/
/*Navigation Bar*/

nav {
  background-color: rgba(0,50,98,0.8);
  position: fixed;
} 

nav .row {
  padding-top: 1%;
  padding-bottom: 1%;
  margin-right: 3%;
}

nav h1 {
  font-family: "Star Jedi", Bangers;
  font-style: italic;
  font-weight: bold;
  color: #FDB515;
  font-size: 1.75rem;
}

nav a {
  display: inline;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
  margin-left: 5%;
}

nav a:hover {
  color: #FDB515;
}

/*Footer*/
/*Footer*/
/*Footer*/
/*Footer*/

footer {
  background-image: url("images/homepage2.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 900px;
  background-position: top;
}

footer .container-fluid {
  text-align: center;
}

footer h1 {
  font-size: 3rem;
  color: #FDB515;
}

footer h3 {
  font-family: "Star Jedi", bangers;
  font-style: italic;
  font-weight: bold;
  font-size: 2.5rem;
  color: black;
  padding-top: 520px;
}

footer ul {
  margin-top: 1%;
}

footer li {
  display: inline;
  padding-right: 0.5%;
  padding-left: 0.5%;
}

#Filler1 {
  color: transparent;
  background-image: url("images/Homepage5.svg");
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 2.5rem;
}

#Filler2 {
  color: transparent;
  background-image: url("images/Homepage6.svg");
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 2.5rem;
}

#Filler3 {
  color: transparent;
  background-image: url("images/Homepage7.svg");
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 2.5rem;
}

#Filler1:hover {
  color: transparent;
  background-image: url("images/Homepage8.png");
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 2.5rem;
}

#Filler2:hover {
  color: transparent;
  background-image: url("images/Homepage9.png");
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 2.5rem;
} 

#Filler3:hover {
  color: transparent;
  background-image: url("images/Homepage10.png");
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 2.5rem;
}

#img1 {
  font-size: 35px;
  color: transparent;
  background-image: url("images/Homepage11.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 60%;
}

#img1:hover {
  background-image: url("images/Homepage12.png");
}

/*Home Page*/
/*Home Page*/
/*Home Page*/
/*Home Page*/

#section_a_0 {
  background-image: url("images/homepage1.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 800px;
  background-position: bottom;
}

#section_a_0 div {
  padding-top: 5%;
}

#section_a_0 h2 {
    width:70%;
    font-size: 3rem;
    color: white;
}

#section_a_0 h4 {
  color: white;
  font-size: 1rem;
  margin-right: 30%;
}
  
#section_a_1 {
  display: block;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  height: 230px;
}

#section_a_1 p {
  font-size: 1rem;
}

#section_a_1 h1 {
  font-size: 3rem;
}

#section_a_2 {
  text-align: start;
  justify-content: flex-start;
}

#section_a_2 img {
  max-width: 90%;
  height: auto;
  margin-bottom: 10%;
}

#section_a_3 {
  text-align: center;
  background-image: url("images/Homepage13.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 75px;
}

#section_a_3 p {
  color: white;
  padding-top:1%;
  font-weight: bold;
  font-size: 2rem;
}

#section_a_4 {
  display: block;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  height: 200px;
  padding-top: 100px;
}

#btn1 .btn-outline{
  background-color: #FDB515;
  border-color: transparent;
}

#btn1 .btn-outline-inner{
  background-color: #FDB515;
  border-color: transparent;
}

#btn1 .btn-outline:hover {
  text-decoration: none;
  color: black;
  background-color: #FDD15B;
}

#btn1 .btn-outline:hover .btn-outline-inner {
  font-weight: bolder;
  color: black;
  background-color: #FDD15B;
}

/*Projects*/
/*Projects*/
/*Projects*/
/*Projects*/

#section_b_1 {
  color: transparent;
  background-color: white;
  padding-top: 200px;
}

#project1 a {
  color: #FDB515 !important; 
}

#project1 a:hover, #project1 a:active {
  color: #FDD15B !important;
}


/*About*/
/*About*/
/*About*/
/*About*/

#section_c_1 {
  color: transparent;
  background-color: white;
  padding-top: 100px;
}

/* Code adapted from Ananya Jain's website https://www.ananya.design */

#about {
  background-color: white;
}

#about .btn-resume {
  font-family: Avenir, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 12px 40px;
  border-radius: 50px;
  color: #fff;
  margin-top: 40px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about p {
  color: #111;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 2px;
  color: black;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.skills .progress {
  height: 50px;
  display: block;
  background: none;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: Avenir;
  color: #222222;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #f3f3f3;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: .9s;
  background-color: #FDB515;
}

/* Code adapted from Ananya Jain's website https://www.ananya.design */

/*Resume*/
/*Resume*/
/*Resume*/
/*Resume*/

#body_resume a{
  color: #003262; 
}


#body_resume a:hover, #body_resume a:active {
  color: #4e6c88;
}


#section_d_1 {
  color: transparent;
  background-color: white;
  padding-top: 200px;
}

/* Code adapted from Sharon Ye's website https://www.sharonye.com/ */

#map a {
  color: #FDB515;
}

#map a:hover {
  color: #FDD15B;
}


.landing_r {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.resumelanding {
  width: 20rem;
  margin-top: -1.5rem;
  height: 20rem;
}

@keyframes floata {
  0% {
    transform: translatey(0rem);
  }
  50% {
    transform: translatey(-1rem);
  }
  100% {
    transform: translatey(0rem);
  }
}


.section_titles {
  font-size: 2.5rem;
  color: black;
}
.section {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.experiences {
  margin-top: 5rem;
  overflow-x: hidden;

}
.bearpic {
  width: 12rem;
  height: auto;
}
.section_text {
  text-align: left;
  color: black;
}
.section_pic {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-align: right;
}
.section_pibear {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-align: right;
  justify-content: center;
}
.section_divider {
  width: 100%;
  transform: rotate(3deg);
}
.dividerrow {
  margin-top: -1.5rem;
}
.experience_titles {
  font-size: 1rem;
  color: #003262;
}

.descriptions {
  text-align: left;
  font-size: 0.7rem;
}
.keywords {
  color: #FDB515;
}
.role {
  font-size: 0.7rem;
  font-style: italic;
  color: black;
  text-align: right;
}

/* Code adapted from Sharon Ye's website https://www.sharonye.com/ */

/*Visitor's Book*/
/*Visitor's Book*/
/*Visitor's Book*/
/*Visitor's Book*/

#section_e_1 {
  color: transparent;
  background-color: white;
  padding-top: 200px;
}

#section_e_2 {
  text-align: center;
  background-image: url("images/Homepage13.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 200px;
}

#section_e_2 p {
  color: white;
  padding-top:1%;
  font-weight: bold;
  font-size: 2rem;
  padding-top: 5%;
}

/*Responsiveness*/
/*Responsiveness*/
/*Responsiveness*/
/*Responsiveness*/

@media all and (max-width: 1100px) {
  html {
    font-size: 18px;
  }
  #section_a_0 {
    min-height: 600px;
  }
  nav a {
    font-size: 0.95rem;
    text-align: right;
  }
  #Filler1, #Filler2, #Filler3 {
    font-size: 2rem;
  }
  footer h3 {
  padding-top: 550px;
  }
  .bearpic {
    width: 12rem;
    height: auto;
    position:relative;
    right: 80px;
  }
}

@media all and (max-width: 800px) {
  html {
    font-size: 16px;
  }
  #section_a_0 {
    min-height: 600px;
  }
  nav a {
    font-size: 0.85rem;
    text-align: right;
  }
  nav .row {
    margin-right: -2%;
  }
  footer h3 {
    padding-top: 570px;
  }
  #section_a_0 h4 {
    padding-top: 10%;
  }
  #spotify {
    text-align: center;
    display: block;
  }
  .bearpic {
    width: 12rem;
    height: auto;
    position:relative;
    right: 80px;
  }
  .descriptions {
    position:relative;
    right: 80px;
  }
}

@media all and (max-width: 600px) {
  html {
    font-size: 16px;
  }
  #section_a_0 {
    min-height: 500px;
  }
  #section_a_0 div {
    padding-bottom: 100px;
  }
  footer h1 {
    margin-top: 10%;
  }
  footer h3 {
    padding-top: 550px;
  }
  #section_a_0 div {
    padding-top: 10%;
    margin-right: 30%;
  }
  #section_a_0 h4 {
    padding-top: 10%;
  }
  #spotify {
    text-align: center;
    display: block;
  }
  .bearpic {
    width: 12rem;
    height: auto;
    position:relative;
    right: 80px;
  }
}

@media all and (max-width: 440px) {
  html {
    font-size: 14px;
  }
  #section_a_0 {
    min-height: 500px;
  }
  nav a {
    font-size: 0.8rem;
  }
  #section_a_0 div {
    padding-bottom: 100px;
  }
  footer h1 {
    margin-top: 10%;
  }
  footer h3 {
    padding-top: 590px;
  }
  footer li {
    padding-right: 3%;
    padding-left: 3%;
  }
  #section_a_1 {
    height: 170px;
  }
  #section_a_0 div {
    padding-top: 15%;
  }
  #section_a_0 h4 {
    padding-top: 10%;
  }
  #spotify {
    text-align: center;
    display: block;
  }
  .bearpic {
    width: 12rem;
    height: auto;
    position:relative;
    right: 80px;
  }
}

/*Animations*/
/*Animations*/
/*Animations*/
/*Animations*/

/* Code adapted from Sharon Ye's website https://www.sharonye.com/ */

.btn-outline {
  text-align: center;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  position: relative;
  border: 1px solid black;
  color: black;
  padding: 0.7rem 2rem 0.7rem 2rem;
  display: inline-block;
  /* -webkit-transition: .5s ease-in-out; */
  /* -moz-transition: .5s ease-in-out; */
  /* -o-transition: .5s ease-in-out; */
  /* transition: .5s ease-in-out; */
}

.btn-outline-inner {
  color: black;
}

.btn-outline:hover {
  text-decoration: none;
  color: black;
  background-color: white;
}

.btn-outline:hover .btn-outline-inner {
  font-weight:bold;
  color: black;
  background-color: white;
}

.btn-outline:hover {
  text-decoration: none;
  color: black;
  background-color: white;
}

.btn-outline:hover .btn-outline-inner {
  font-weight:bold;
  color: black;
  background-color: white;
}

.btn-outline:hover .line-1 {animation: outline1 2s infinite ease-in-out;}
.btn-outline:hover .line-2 {animation: outline2 2s infinite ease-in-out;}
.btn-outline:hover .line-3 {animation: outline3 2s infinite ease-in-out;}
.btn-outline:hover .line-4 {animation: outline4 2s infinite ease-in-out;}
.line-1 {
	content: "";
	display: block;
	position: absolute;
	width: 3px;
	background-color: black;
	left: 0;
	bottom: 0;
}
.line-2 {
  content: "";
  display: block;
  position: absolute;
  height: 3px;
  background-color: black;
  left: 0;
  top: 0;
}
.line-3 {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  background-color: black;
  right: 0;
  top: 0;
}
.line-4 {
  content: "";
  display: block;
  position: absolute;
  height: 3px;
  background-color: black;
  right: 0;
  bottom: 0;
}
@keyframes outline1 {
  0% {height: 100%; bottom: 0;}
  54% {height: 0; bottom: 100%;}
  55% {height: 0; bottom: 0;}
  100% {height: 100%; bottom: 0;}
}
@keyframes outline2 {
  0% {width: 0;left: 0;}
  50% {width: 100%; left: 0;}
  100% {width: 0; left: 100%;}
}

@keyframes outline3 {
  0% {height: 100%; top: 0;}
  54% {height: 0; top: 100%;}
  55% {height: 0; top: 0;}
  100% {height: 100%; top: 0;}
}

@keyframes outline4 {
  0% { width: 0; right: 0;}
  55% {width: 100%; right: 0;}
  100% {width: 0; right: 100%;}
}

.letter {
  display: inline-block;
  position: relative;
  transform: translateZ(1.25rem);
  transform-origin: 50% 50% 1.25rem;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.word {
  position: absolute;
  opacity: 0;
  padding-left: 3%;
  font-size: 3rem;
  color: #FDB515;
}

.changers {
  padding-bottom: 10%;
  justify-content: center !important;
}

/* Code adapted from Sharon Ye's website https://www.sharonye.com/ */

/* Code adapted from Ananya Jain's website https://www.ananya.design */

.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-image: url("images/button1.png");
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.4s;
  position: relative;
  color: transparent;
}

.back-to-top i:hover {
  background-image: url("images/button2.png");
  background-repeat: no-repeat;
  background-size: contain;
  color: transparent;
}

.back-to-top i:active {
  background-image: url("images/button2.png");
  top: 2px;
  color: transparent;
}

/* Code adapted from Ananya Jain's website https://www.ananya.design */

