
.b a:active {
    position: relative;
    top: 1px;
}

body {
  font-family: "Avenir Black", sans-serif;
  background-color: white;
  }
  
nav {
  background-color: rgba(0,50,98,0.7);
  background-size: cover;
  position: fixed;
}

nav .row{
  padding: 10px 0 10px;
} 

nav h1 {
  float: left;
  font-family: "Star Jedi", arial;
  font-style: italic;
  font-weight: bold;
  color: #FDB515;
  justify-content: flex-start;
}

nav .row li {
  border: hidden;
  display: inline;
  align-items: center;
  justify-content: flex-end;
}

nav li a {
  color: white;
  font-weight: bold;
  font-size: 25px;
  padding: 0 50px;
  
}

header {
  display: flex;
  background-image: url("homepage1.png");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: flex-start;
  max-height: 1000px;
}

header div {
  border: hidden;
  margin: 200px 0 300px;
}

header h2 {
    font-size: 60px;
    color: white;
  }

header h3 {
  font-size: 60px;
  color: #FDB515;
  padding-left: 60px;
}

header  h4 {
  color: white;
  font-size: 20px;
  padding-right: 500px;
}
  
#section1 {
  display: block;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  height: 250px;
}
#section1 p {
  font-size: 20px;
}

#section1 h1 {
  font-size: 60px;
}

#section2 {
  display: block;
  text-align: start;
  justify-content: flex-start;
}

#section2 a {
  color: black;
  font-size: 14px;
  border: solid black;
  padding: 0 2px 0 2px;
}

#section2 img {
  border: solid black;
}

.double-border 
{
  background-color: #FDB515;
  border: 10px solid black;
  padding: 0.5em;
  width: auto;
  height: auto;
  float:left;
  margin-right: 20px;
  text-align:center;
}

#section3 {
  display: block;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  height: 250px;
  padding-top: 100px;
}

#section3 a {
  color: black;
  font-size: 30px;
  border: solid white;
  background-color: #FDB515;
  padding: 2px 6px 2px 6px;
}




  footer {
    font-size: 12px;
    padding: 20px 0;
  }
  
  footer .col-sm-8 {
    display: flex;
    justify-content: flex-end;
  }
  
  footer ul {
    list-style: none;
  }
  