
.b a:active {
    position: relative;
    top: 1px;
}
body {
    font-family: "Avenir Black", sans-serif;
  }
  
nav {
  background-color: rgba(0,50,98,0.7);
  background-size: cover;
  position: fixed;
}

nav .row{
  padding: 20px 0 20px;
} 

nav h1 {
  float: left;
  font-family: "Star Jedi", arial;
  font-style: italic;
  font-weight: bold;
  color: #FDB515;
  justify-content: flex-start;
}

nav .row li {
  display: inline;
  align-items: center;
  justify-content: flex-end;
}

nav li a {
  color: white;
  font-weight: bold;
  font-size: 25px;
  padding: 0 50px;
  
}

header  {
  display: flex;
  background-image: url("homepage1.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 300px;
}

header .jumbotron {
  border-right: hidden;
  margin-right: 500px;
  background: none;
  padding-top: 250px;
  padding-left: 100px;
  justify-content: flex-start;
}

header h2 {
    font-size: 60px;
    color: white;
  }

header .jumbotron h3 {
  font-size: 60px;
  color: #FDB515;
  padding-left: 50px;
}
  
header .jumbotron h4 {
  padding-top: 30px;
  color: white;
  font-size: 20px;
}
  
  


  footer {
    font-size: 12px;
    padding: 20px 0;
  }
  
  footer .col-sm-8 {
    display: flex;
    justify-content: flex-end;
  }
  
  footer ul {
    list-style: none;
  }
  